.contact-header {
  display: flex;
  align-items: center;
}

.contact-header a {
  font-family: inherit;
  font-size: 25px;
  color: #1f3f7f;
  text-decoration: none;
  margin-top: 10px;

  @include _480 {
    font-size: 20px;
  }

  &:hover,
  &focus {
    color: #0085cb;
  }
}

.contact-header__cart {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 43px;
  height: 47px;
  margin-left: 34px;
}

.contact-header__cart span {
  display: inline-block;
  position: absolute;
  font-family: "Franklin Gothic Demi", "Arial", sans-serif;
  font-size: 16px;
  color: #0085cb;
  top: 21px;
  left: 16px;
}

.contact-header__cart a {
  margin-top: 0;
}
