.field-item {
  margin-bottom: 24px;

  @include _660 {

  }

  @include _540 {

  }

  @include _480 {
    width: 100%;
  }
}

.field-item--delivery {
  display: flex;

  @include _1136 {
    display: block;
  }
}

.field-item--delivery label,
.field-item--delivery a {
  font-family: inherit;
  font-size: 16px;
  color: #000000;
  margin-top: 10px;
}

.field-item--delivery a {
  display: inline;
  color: #14519e;
}

.field-item--delivery label {
  position: relative;
  padding-left: 23px;
}

.field-item input[type="radio"] {
  display: none;
}

.field-item--delivery label:last-of-type {
  margin-left: auto;
  margin-right: 13px;
}

.field-item--delivery span::before,
.field-item--delivery span::after {
  position: absolute;
  display: inline-block;
  content: "";
  vertical-align: middle;
  border-radius: 50%;
}

.field-item--delivery span::before {
  width: 12px;
  height: 12px;
  top: 5px;
  left: 0px;
  border: 1px solid #14519e;
}

.field-item--delivery span::after {
  width: 4px;
  height: 4px;
  top: 9px;
  left: 4px;
  background-color: #000000;
  opacity: 0;
}

.field-item--delivery input + span {
  cursor: pointer;
}

.field-item--delivery input[type="radio"]:checked + span::after {
  display: inline-block;
  opacity: 1;
}
