.header-link {
  font-family: inherit;
  font-size: calc(18px + 7 * (100vw / 1600));
  line-height: 30px;
  color: #0085cb;

  @include _660 {
    display: block;
    text-align: center;
  }

    &:hover {
      color: #14519e;
      border-bottom: 2px solid #14519e;
  }
}

.header-link-active {
  font-family: inherit;
  font-size: calc(18px + 7 * (100vw / 1600));
  color: #ffffff;
  text-decoration: none;
  background-color: #0085cb;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-link li {
  height: 30px;
}
