.nav-inner {
  width: 100%;
  background-color: #14519e;
}

.nav-inner__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 30px;
  padding-right: 30px;

  @include _1200 {

  }

  @include _992 {
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.nav-inner__search {
  margin-left: auto;
}

@include _992 {
  .nav-inner__search {
    margin: 0 auto;
    margin-top: 25px;
  }
}

.nav-inner__toggle {
  display: none;
}
